html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    left: auto !important;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

li,
a,
button,
span,
i {
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

i {
    cursor: pointer;
}

i:hover {}

.container-fluid {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.out-container {
    min-width: 1170px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

/************************************************************************/

header {
    width: 100%;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 18px;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: relative;

}

.header-top .logo {
    width: 461px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: -90px;
    z-index: 3;
}

.header-top img {}

.header-top .descriptor {
    position: relative;
    left: -20px;
    text-align: right;
}

.header-top .descriptor p {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.923;
    text-shadow: 0px 1px 0px rgba(3, 3, 3, 0.3);
}

.header-top .descriptor span {
    font-size: 20px;
}

.header-top .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 540px;

}

.header-top .contacts .addres {
    padding: 9px 0 5px 30px;
    background: url(../img/icons/map-point.png) no-repeat 1px 3px;
    text-shadow: 0px 1px 0px rgba(3, 3, 3, 0.3);
}

.header-top .contacts .tel {
    padding: 9px 0 5px 30px;
    background: url(../img/icons/phone.png) no-repeat 1px 3px;
}

.header-top .contacts .tel a {
    color: #fff;
    font-size: 26px;
}

.header-top .contacts .tel span {
    font-size: 18px;
}

.header-top .contacts .mail {
    padding: 9px 0 5px 30px;
    background: url(../img/icons/envelop.png) no-repeat 1px 3px;
}

.header-top .contacts .mail a span {
    color: rgb(179, 216, 255);
    border-bottom: 1px solid;
}

.header-top .contacts button {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 195, 55);
    width: 211px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;
}

.header-top .contacts input {
    border-width: 1px;
    border-color: rgb(105, 160, 219);
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.149);
    background: url(../img/icons/loop.png) no-repeat center right 15px;
    width: 416px;
    height: 28px;
    font-size: 14px;
    color: rgb(240, 245, 253);
    font-style: italic;
    line-height: 0.857;
    text-align: left;
    padding: 3px 40px;
    -moz-transform: matrix( 1.00008214751869, 0, 0, 1, 0, 0);
    -webkit-transform: matrix( 1.00008214751869, 0, 0, 1, 0, 0);
    -ms-transform: matrix( 1.00008214751869, 0, 0, 1, 0, 0);
}

input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 50px;
}

input[type="text"]::-moz-placeholder {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 50px;
}


/* Firefox 19+ */

input[type="text"]:-moz-placeholder {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 50px;
}


/* Firefox 18- */

input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 50px;
}


.header-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 980px;
    position: relative;
    z-index: 20;
}

.header-bottom ul {
    height: 50px;
}

.header-bottom li {
    border-radius: 7px 7px 0 0;
    display: inline-block;
}

.header-bottom li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 35px;
}

.header-bottom li:hover {
    background-color: #fff;
}

.header-bottom li:hover a {
    color: rgb(31, 68, 130);
}

/************************************************************/

.slider-bg {
    height: 565px;
    background: url(../img/slider-bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.slider-container {}

.slider-container .slider {
    position: relative;
}

.slider-container .slider-one {
    width: 1056px;
    height: 565px;
}

.slider-container .slider-one .item {
    width: inherit;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 109px auto 0;
}

.slider-container .slider-one .item .slider-img {}

.slider-container .slider-one .item .slider-img img {}

.slider-container .slider-one .item .slider-text {
    width: 483px!important;
}

.slider-container .slider-one .item h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
}

.slider-container .slider-one .item .green-title {
    color: rgb(0, 195, 55);
    margin-top: 14px;
}

.slider-container .slider-one .item .blue-title {
    color: #333399;
}

.slider-container .slider-one .item p {
    font-size: 18px;
    color: rgb(54, 54, 54);
    font-style: italic;
    line-height: 1.333;
    width: 439px;
    height: 66px;
    margin-top: 43px;
}

.slider-container .slider-one .item .slider-button {
    display: block;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(31, 68, 130);
    width: 205px;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.333;
    margin-top: 48px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 6px;
}

.slider-container .slider-one .owl-prev,
.slider-container .slider-one .owl-next {
    position: absolute;
    top: 258px;
    background: url(../img/arrow.png);
    width: 33px;
    height: 61px;
}

.slider-container .slider-one .owl-prev {
    left: -60px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.slider-container .slider-one .owl-next {
    right: -60px;
}

/************************************************************/

.about-company_top {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 91px;
}

.about-company_top .text {
    width: 468px;
    text-align: left;
}

.about-company_top .text p {
    color: rgb(54, 54, 54);
}

.about-company_top .text p:nth-child(2) {
    margin-top: 56px;
}

.about-company_top .text p:nth-child(3) {
    margin-top: 46px;
}

.about-company_top h2 {
    font-size: 30px;
    color: rgb(31, 68, 130);
    font-weight: bold;
    line-height: 1;
}

.about-company_top .slips {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 6px;
}

.about-company_top .slip {
    width: 278px;
    height: 366px;
    border-radius: 30px;
    background-color: rgb(238, 236, 236);
}

.about-company_top .slip p {
    color: rgb(54, 54, 54);
    line-height: 1;
    text-align: center;
    margin-top: 19px;
}

.about-company_top .left-slip-h5 {
    color: rgb(31, 68, 130);
}

.about-company_top .right-slip-h5 {
    color: rgb(0, 195, 55);
}

.about-company_top .slip-img {
    width: 170px;
    height: 170px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-company_top img {}

.about-company_top h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.about-company_bottom {
    width: inherit;
}

.about-company_bottom .slider {
    width: 1056px;
    margin: auto;
    height: 340px;
}

.about-company_bottom .slider p {
    font-size: 24px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 0.833;
    text-align: center;
    margin: 29px auto;
}

.about-company_bottom .slider-two {}

.about-company_bottom .slider-two .item {
    width: 250px;
    height: 171px;
    border: 1px solid rgb(220, 220, 220);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-company_bottom .slider-two .item img {
    width: 248px;
    height: 169px;
}

.about-company_bottom .slider-two .owl-prev,
.about-company_bottom .slider-two .owl-next {
    position: absolute;
    top: 50px;
    background-image: url(../img/arrow2.png);
    width: 33px;
    height: 61px;
}

.about-company_bottom .slider-two .owl-prev {
    left: -60px;
}

.about-company_bottom .slider-two .owl-next {
    right: -60px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/************************************************************/

.map-container {
    position: relative;
}

.map-container .map-content {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    bottom: -490px;
    z-index: 45;
}

.map-container .map-form {
    width: 335px;
    height: 490px;
    padding: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(31, 68, 130, 0.851);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.map-container h3 {
    margin-top: 36px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
}

.map-container input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: rgb(240, 245, 253);
    font-style: italic;
    line-height: 0.75;
    border-width: 1px;
    border-color: rgb(105, 160, 219);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.149);
    border-radius: 20px;
}

.map-container textarea {
    resize: none;
    border-width: 1px;
    border-color: rgb(105, 160, 219);
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.149);
    width: 283px;
    height: 128px;
}

.map-container .checkbox {
    border-width: 1px;
    border-color: rgb(105, 160, 219);
    border-style: solid;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.149)!important;
    width: 14px;
    height: 14px;
}

.map-container .lable_text {}

.map-container button {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 195, 55);
    width: 181px;
    height: 30px;
    border-radius: 20px;
    margin-top: 30px;
}


.Прямоугольник_13 {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 195, 55);
    position: absolute;
    left: 1285px;
    top: 2088px;
    width: 181px;
    height: 30px;
    z-index: 47;
}




/************************************************************/

footer {
    width: 100%;
    height: 284px;
    background: url(../img/footer-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    font-size: 18px;
    color: #fff;
}

footer .footer-content {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

footer .copyright {
    width: 263px;
    padding: 0 0 0 40px;
    text-align: left;
}

footer .copyright img {
    margin-top: 22px;
}

footer .copyright p {
    font-size: 14px;
    font-family: "PTSans";
    color: rgb(164, 163, 163);
    line-height: 1;
    text-align: left;
}

footer .copyright p:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 15px;
}

footer .footer-menu {}

footer ul {
    margin-top: 48px;
}

footer li {
    margin-bottom: 18px;
}

footer li a {
    font-size: 18px;
    color: rgb(164, 164, 164);
    line-height: 0.667;
    text-align: left;
}

footer li a:hover {
    color: #fff;
}

footer .footer-contacts {
    position: absolute;
    right: 58px;
    width: 308px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .addres {
    margin-top: 50px;
    padding: 9px 0 5px 30px;
    background: url(../img/icons/map-point.png) no-repeat 1px 3px;
    font-size: 18px;
    line-height: 0.667;
}

footer .mail {
    margin-top: 13px;
    padding: 9px 0 5px 30px;
    background: url(../img/icons/envelop.png) no-repeat 1px 3px;
}

footer .mail a {}

footer .mail span {
    color: rgb(164, 164, 164);
    border-bottom: 1px solid;
}

footer .tel {
    margin-top: 6px;
    padding: 9px 0 5px 30px;
    background: url(../img/icons/phone.png) no-repeat 1px 3px;
}

footer .tel a {
    color: #fff;
    font-size: 26px;
}

footer .tel span {
    font-size: 18px;
}

footer .effect {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .effect p {
    font-size: 16px;
    color: rgb(103, 102, 102);
    line-height: 1.2;
    -moz-transform: matrix( 1.00000689513766, 0, 0, 0.9977064569353, 0, 0);
    -webkit-transform: matrix( 1.00000689513766, 0, 0, 0.9977064569353, 0, 0);
    -ms-transform: matrix( 1.00000689513766, 0, 0, 0.9977064569353, 0, 0);
    margin-top: 6px;
    margin-right: 20px;
}

footer .effect img {
    -webkit-transition: 1s;
    transition: 1s;
}

footer .effect img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/************************************************************/

@media screen and (max-width: 1200px) {
    .out-container {
        padding-right: 0.1px;
        padding-left: 0.1px;
    }
}
