@font-face {
    font-family: "MrsEavesItalic";
    src: url("/assets/web/fonts/MrsEavesItalic.eot");
    /* IE9*/
    src: url("/assets/web/fonts/MrsEavesItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/web/fonts/MrsEavesItalic.woff2") format("woff2"), /* chrome、firefox */
    url("/assets/web/fonts/MrsEavesItalic.woff") format("woff"), /* chrome、firefox */
    url("/assets/web/fonts/MrsEavesItalic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/assets/web/fonts/MrsEavesItalic.svg#MrsEavesItalic") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "UniversBoldItalic";
    src: url("/assets/web/fonts/UniversBoldItalic.eot");
    /* IE9*/
    src: url("/assets/web/fonts/UniversBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/web/fonts/UniversBoldItalic.woff2") format("woff2"), /* chrome、firefox */
    url("/assets/web/fonts/UniversBoldItalic.woff") format("woff"), /* chrome、firefox */
    url("/assets/web/fonts/UniversBoldItalic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/assets/web/fonts/UniversBoldItalic.svg#Univers Bold Italic") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "SegoeWPLight";
    src: url("/assets/web/fonts/SegoeWPLight.eot");
    /* IE9*/
    src: url("/assets/web/fonts/SegoeWPLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/web/fonts/SegoeWPLight.woff2") format("woff2"), /* chrome、firefox */
    url("/assets/web/fonts/SegoeWPLight.woff") format("woff"), /* chrome、firefox */
    url("/assets/web/fonts/SegoeWPLight.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/assets/web/fonts/SegoeWPLight.svg#Segoe WP Light") format("svg");
    /* iOS 4.1- */
}
